/**************************/
/*     Mario Kart Theme   */
/**************************/
html, 
body {
    height: 150%;
}
#root {
    height: 100%;
}
.mario-karty {
    background-color: #2C3539;
    height: 100%;
}
.welcome {
    padding-top: 25px;
}
.main-image {
    padding-bottom: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    padding: 25px;
    text-align: center;
    color: red;
    font-family: 'Creepster', serif;;
    font-weight: bold !important;
}

.radio, .name-input {
    color: white;
    padding: 0px 10px 0px 10px;
}

.mario-kart-radio {
    display: inline-flex;
    justify-content: center;
}

.mario-kart-submit, .name-input {
    text-align: center;
}