.App {
  text-align: center;
  margin-top: 25px;
}

.skillButtons {
  text-align: center;
}

.skillButtons .btn {
  margin-left: 5px;
  margin-bottom: 10px;
}

.resume-header {
  padding-left: 25px;
}

.resume h2 {
  text-align: center;
  padding-top: 10px;
}

.resume .skill-graph {
  text-align: center;
}

.resume .jumbotron {
  padding-left: 25px;
  margin-top: 20px;
}

.project-container {
    display: grid;
    grid-template-columns: auto auto;
}

.project-item {
    margin: 20px;
}

.badge {
  margin: 1px 2px 1px 2px;
}