/* ------------- RESUME ------------- */
.resume {
  margin-top: 25px;
}

.skillButtons {
  text-align: center;
}

.skillButtons .btn {
  margin-left: 5px;
  margin-bottom: 10px;
}

.resume-header {
  padding-left: 25px;
}

.resume-header > * {
  padding: 10px;
}

.resume h2 {
  text-align: center;
  padding-top: 10px;
}

.resume .skill-graph {
  text-align: center;
}

.resume .skill-graph .skill-graph-svg {
    display: block;
    height: 500px;
    width: 95vw;
}

.resume .jumbotron {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
}

.project-container {
    display: grid;
    grid-template-columns: auto auto;
}

/* Reconfiguration for phones */
@media (max-width: 700px)  {
    .project-container {
        grid-template-columns: auto;
    }
}

.project-item {
    margin: 20px;
}

.badge {
  margin: 1px 2px 1px 2px;
}
.skill-scale-list {
  margin-top: 15px;
}

/* ------------- MyTravel ------------- */
.my-travel {
  margin-top: 30px;
  text-align: center;
  height: 85vh;
  overflow-y: scroll;
}

.my-travel-map {
  height: 75vh;
  width: 100vw;
  cursor: pointer;
}

.my-travel-details {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ------------- FOOTER ------------- */
.footer {
    position: absolute;
    width: 100%;
    background-color: #343a40;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto;
}

.footer small {
    color: #f0f8ff;
}

.footer .social-media-links a {
    float: right;
    padding-left: 10px;
    padding-right: 25px;
}

/* ------------- TEMPORARY ------------- */
.todo {
  margin-top: 30px;
  text-align: center;
  height: 87vh;
}